body 
{
    text-align: center;
    margin: 0px;
    color: black; 
    background-color: #ddddee;
    font-size:large;
    font-weight:bold;
    font-family:Arial;

}
#nav a { text-decoration: none; 
         color: #006; } 

#nav a:hover { color: #c00; }

#container
{  text-align: left;
   width: 760px; 
   height: 420px;
   margin: 0px auto;
   background-color:#ddddee;
}
#header
{ 
     padding: 5px; text-align: left;
}
#maincontent
{  
    text-align: left;
}

#footer
{ 
    float:none;
    text-align: center;
}

#E
{
    color: #ee2211; font-style: italic; font-family: Geneva, Trebuchet, Georgia;
}
#X
{
    color:#ffaa00; font-style:italic; font-family: Geneva, Trebuchet, Georgia;
}
#T
{
    color:#ffff00; font-style:italic; font-family: Geneva, Trebuchet, Georgia;
}
#R
{
    color:#77ff44; font-style:italic; font-family: Geneva, Trebuchet, Georgia;
}
#E1
{
    color:#22cc11; font-style:italic; font-family: Geneva, Trebuchet, Georgia;
}
#M
{
    color:#4466dd; font-style:italic; font-family: Geneva, Trebuchet, Georgia;
}
#E2
{
    color:#880099; font-style:italic; font-family: Geneva, Trebuchet, Georgia;
}
#OrangeHoney
{
    color:#ff7700; font-style:italic; font-family: Geneva, Trebuchet, Georgia;
}
.regtext
{
    font-family: Geneva, Trebuchet, Georgia; color:black;
}
strong, cite, blockquote , p, div, ul
{
    font-family:Veranda,Courier,sans-serif;
    font-size:16pt;
}
.comment
{
    font-family: Helvitica, Arial, Futura; color:#1100ff;
}
ul li
{
    font-family:Veranda,Courier,sans-serif;
}

.tab
{
    font-family: sans-serif; font-size:125%;
}

table
{
    border: 1;
    height: 0px;
}
.clean
{
    clear:both;
}
.right
{
    float:right;
}
.left
{
    float:left;
}